@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FDFFFF;
    font-family: 'Quicksand', sans-serif;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 267px;
    margin-top: 50px;
    /* background-color: red; */
}

.logo {
    display: flex; 
    /* background-color: aqua; */
}

.txt-logo {
    display: flex;
    width: 72px;
    height: 24px;
    flex-direction: column;
}

.txt-logo h2 {
    font-size: 20px;
    letter-spacing: 0.2px;
}

.txt-logo h3 {
    font-size: 16px;
    letter-spacing: 0.2px;
}

.navbar {
    display: flex; 
    justify-content: center;
    align-items: center;

    /* background-color: wheat; */
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 15%;
    letter-spacing: 0.2px;
}

.navbar a:hover {
    text-decoration: underline;
}

.btn-menu {
    display: flex;
    /* padding: 12px 50px;  */
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: rgb(94, 53, 133); */
}

.btn-menu a {
    text-decoration: none;
    color: #377DFF;
    border: 1px solid #377DFF;
    border-radius: 20px;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-size: 16px;
    transition: 0.2s;
    line-height: 24px;
    padding: 6px 30px;
}

.btn-menu a:hover {
    color: #FDFFFF;
    background-color: #5d95fd;
}

.container-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

/* Efeitos de circulos com position relative */

.circle {
	border-radius: 50%;
	padding: 13px;
}

.dimension-one {
	height: 5px;
	width: 5px;
    background-color: #f85454;
}

.dimension-two {
	height: 2px;
	width: 2px;
    background-color: #377DFF;
}

.position-1{
    position: relative;
    left: 570px;
    top: 10%;
}

.position-2{
    position: relative;
    right: 500px;
    top: 210px;
}

.position-3{
    position: relative;
    left: 480px;
    top: 30px;
}

.position-4{
    position: relative;
    right: 400px;
    top: 350px;
}
/* Fim dos efeitos de circulos */

.txt-primary {
    color: #1D1D1D;
    text-align: center;
    font-size: 34px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 200%;
    margin-bottom: 25px;
}

.txt-secondary {
    color: #464646;
    text-align: center;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    line-height: 150%;
    letter-spacing: 0.3px;
    margin-bottom: 25px;
}

.btn-startp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 50px;
    gap: 10px;
    background-color: #377DFF;
    border-radius: 24px;
    box-shadow: 0px 4px 8px 0px #377dff80;
    cursor: pointer;
    margin-bottom: -30px;
}

.btn-startp a {
    text-decoration: none;
    color: #FDFFFF;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.3px;
    transition: 0.2s;
}

.btn-startp:hover {
    background-color: #508bfa;
}

.img-primary {
    position: relative;
    z-index: 1;
}

.img-effect {
    display: flex;
    position: static;
}

/* Efeitos de imagens pontilhados */

.effect-red-position-1 {
    position: relative;
    bottom: 55px;
    left: 160px;
    /* z-index: 1; */
}

.effect-blue-position-1 {
    position: relative;
    top: 52px;
    left: 150px;
}

.effect-red-position-2{
    position: relative;
    top: 55px;
    right: 30px;
}

.effect-purple-position-1{
    position: relative;
    left: 495px;
    bottom: 60px;
}

/* Fim dos efeitos de imagens  */

.g-project {
    display: inline;
    position: relative;
    background-color: #FFF;
    text-align: center;
    width: 175px;
    height: 95px;
    top: 195px;
    right: 380px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px #05050580;
    z-index: 2;
}

#img-g-project {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

#content-g-project {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    letter-spacing: 0.2px;
}

.people-content {
    position: relative;
    background-color: #FFF;
    width: 166px;
    height: 166px;
    left: 400px;
    bottom: 235px;
    padding: 25px;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px #05050580;
}

.perfil-people {
    display: flex;
    flex-direction: column;
}

.perfil-people h3 {
    color: #1D1D1D;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1px;
}

.perfil-people p {
    color: #1D1D1D;
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 0.06px;
}

.img-people {
    float: left;
    margin-right: 3.5px;
}

.people-coment {
    display: flex;
    width: 125px;
    flex-direction: column;
    margin-top: 20px;
}

.people-coment p {
    color: #1D1D1D;
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    letter-spacing: 0.1px;
}

.container-terc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
}

.cont-terc-txt1 h3 {
    color: #377DFF;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
}

.cont-terc-txt1 h2 {
    color: #1D1D1D;
    font-size: 45px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.content-teammate{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: -50px;
    /* background-color: red; */
}

.content-teammate-txt{
    display: flex;
    flex-direction: column;
    width: 610px;
    padding: 60px;
    /* background-color: blue; */
}

.content-teammate-txt p {
    margin-bottom: 25px;
    line-height: 26px;
}

.btn-container-terc{
    display: flex;
    justify-content: start;
    align-items: center;
}

.btn-aboutus{
    display: inline-flex;
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 10px 45px 10px 45px;
    border-radius: 20px;
    background-color: #377DFF;
    transition: 0.2s;
    margin-right: 20px;
}

.btn-aboutus:hover{
    background-color: #508bfa;
}

.btn-ourstory{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #377DFF;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 5px 40px 5px 40px;
    border-radius: 20px;
    border: 1px solid #377DFF;
    transition: 0.2s;
}

.btn-ourstory:hover{
    background-color: #f1efff;
}

.container-quarto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-our-services{
    display: flex;
    flex-direction: column;
    width: 440px;
    background-color: red;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 525px;
    margin-left: 12%;
    background-color: blue;
}

.card-1{
    width: 262px;
    height: 269px;
    background-color: red;
}

.card-2{
    width: 262px;
    height: 269px;
    background-color: rgb(217, 255, 0);
}

.card-3{
    width: 262px;
    height: 269px;
    background-color: rgb(0, 255, 76);
}

.card-4{
    width: 262px;
    height: 269px;
    background-color: rgb(255, 0, 191);
}